:root {

    /* =========================================
       BRAND COLORS
    ========================================== */

    --maroon: #8b0808;
    --maroon-dark: #720404;

    --cream: #fffaf1;
    --ivory: #fffdf7;

    --gold: #b87520;
    --gold-light: #d7aa63;

    --black: #17120f;
    --text: #241713;


    /* =========================================
       LAYOUT
    ========================================== */

    --container-width: 1024px;

    --announcement-height: 34px;
    --navbar-height: 68px;

}